* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #000;
    color: #fff;
    height: 100vh;
    overflow: hidden;
}

/* Layout */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 5%;
}

/* TITLE */
.title {
    font-size: 3.5rem;
    line-height: 1.2;
    color: #fff;
    text-shadow: 0 0 10px #007BFF, 0 0 25px #007BFF;
}

.title span {
    font-size: 4rem;
    color: #ffd700;
    text-shadow: 0 0 12px #ffd700, 0 0 25px #ffd700;
}

/* BUTTONS */
.buttons {
    margin-top: 35px;
    display: flex;
    gap: 20px;
}

.btn {
    padding: 14px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
}

.donate {
    background: #007BFF;
    color: #fff;
    box-shadow: 0 0 10px #007BFF, 0 0 25px #007BFF;
}

.donate:hover {
    background: #0056c7;
    box-shadow: 0 0 15px #007BFF, 0 0 35px #007BFF;
}

.enter {
    background: #ffd700;
    color: #000;
    box-shadow: 0 0 10px #ffd700, 0 0 25px #ffd700;
}

.enter:hover {
    background: #e1be00;
    box-shadow: 0 0 15px #ffd700, 0 0 35px #ffd700;
}

/* CHARACTER */
.character img {
    height: 85vh;
    filter: drop-shadow(0 0 20px #0059ff);
}
